/*general*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

/*footer*/
.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: grey;
  font-size: 25px;
  opacity: 0.8;
  color: #000000;
}

.img-footer {
  width: 90px;
}

.link-footer {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s;
  cursor: pointer;
}

.link-footer:hover {
  color: #ffffff;
}

/*jokes*/
.wrapper {
  width: 80vmin;
  padding: 50px 40px;
  background-color: #81e79b;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 8px;
  box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.5);
}

.face {
  display: block;
  width: 100px;
  margin: 0 auto;
}

.joke {
  font-size: 20px;
  color: #000000;
  font-weight: 400;
  text-align: center;
  word-wrap: break-word;
  line-height: 30px;
  margin: 30px 0;
  opacity: 0;
}

.unfade {
  opacity: 1;
  transition: opacity 1s;
}

button {
  display: block;
  background-color: #1ac0f3;
  border: none;
  font-size: 22px;
  font-weight: 600;
  padding: 12px 25px;
  margin: 0 auto;
  border-radius: 5px;
  cursor: pointer;
}

/*change language*/

.lang-change {
  position: absolute;
  right: 30px;
  top: 30px;
  background-color: #1ac0f3;
  width: 50px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
}
