/*general*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #000000;
}

:root {
  --white-color: #ffffff;
  --green-color: #92d822;
}
/*main section*/

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.main-back {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: auto;
  filter: blur(10px);
  z-index: -1;
}

/*footer*/

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(56, 149, 172, 0.6);
  font-size: 25px;
  opacity: 0.7;
}

.footer > a,
.footer > p {
  margin: 0 50px;
}

.img-footer {
  width: 90px;
}

.link-footer {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s;
}

.link-footer:hover {
  color: #ffffff;
}

/*player*/

.btn-size-prevnext {
  height: 30px;
  width: 30px;
  filter: invert(1);
}
.btn-size-play {
  height: 50px;
  width: 50px;
  filter: invert(1);
}

.player {
  background: linear-gradient(
    to bottom right,
    #373a3a,
    rgba(44, 169, 173, 0.014)
  );
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  padding: 0 0 25px 0;
  box-shadow: 0px 0px 10px 2px #000000;
}

.cover {
  display: flex;
  justify-content: center;

  overflow: hidden;
  border-radius: 10px 10px 0 0;
  height: 333px;
}
.cover_img_player {
  transform: scale(1.2);
}

.active {
  animation: scaleAnimation 1s;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1.2);
  }
}

.artist {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin: 10px 20px 0;
  color: var(--green-color);
}

.song {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  padding: 0 20px;
}

.progress_container {
  background: #000000;
  border-radius: 5px;
  height: 15px;
  margin: 10px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.progress_container > .progress {
  background: var(--green-color);
  border-radius: 5px;
  height: 10px;
}

.time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--green-color);
  font-size: 14px;
  height: 20px;
  padding: 0 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 180px;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
}

.buttons > .btn {
  cursor: pointer;
}
